{% extends 'main.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}Add memories{% endblock %}

{% block content %}
{% include 'top-panel.html' %}
<div class="container container3">
    <div class="map-container">
        <div id="map"></div>
    </div>
    <div class="form-container">
        <form method="POST">
            {% csrf_token %}
            {{ form.title }}
            {{ form.description }}
            <input id="latitude" name="latitude" type="hidden">
            <input id="longitude" name="longitude" type="hidden">
            <button class="btn btn-primary"
                    onclick="return validateCoordinates();"
                    style="width: 130px; height: 36px; margin-left: 115px"
                    type="submit">Save
                memory
            </button>
        </form>
    </div>
</div>
<script type="text/javascript">
    ymaps.ready(init);
    function init(){
        var myMap = new ymaps.Map("map", {
            center: [55.76, 37.64],
            zoom: 10
        });

        var placemark = null;

        myMap.events.add('click', function (e) {
            var coords = e.get('coords');
            if (placemark) {
                myMap.geoObjects.remove(placemark);
            }
            placemark = new ymaps.Placemark(coords);
            myMap.geoObjects.add(placemark);
            document.getElementById('latitude').value = coords[0];
            document.getElementById('longitude').value = coords[1];
        });
    }

    function validateCoordinates() {
        var latitude = document.getElementById('latitude').value;
        var longitude = document.getElementById('longitude').value;
        if (latitude === '' || longitude === '') {
            alert("Please set a marker on the map.");
            return false;
        }
        return true;
    }


</script>
{% endblock %}