{% extends 'main.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}Home{% endblock %}

{% block content %}
{% include 'top-panel.html' %}
<div class="container container1">
    <div class="content">
        {% if memories %}
        <h2>Your Memories</h2>
        <div class="row">
            {% for memory in memories %}
            <div class="col-md-4">
                <div class="memory">
                    <div class="map" id="map-{{ memory.id }}">
                    </div>
                    <script>
                        ymaps.ready(function() {
                            var map{{ memory.id }} =
                            new ymaps.Map("map-{{ memory.id }}", {
                                center: [{{ memory.latitude }},
                                         {{ memory.longitude }}],
                                zoom: 13
                            });
                            var placemark{{ memory.id }} =
                            new ymaps.Placemark([{{ memory.latitude }},
                                                 {{ memory.longitude }}]);
                            map{{ memory.id }}.geoObjects.add(placemark{{ memory.id }});
                        });


                    </script>
                    <h3>
                        <a class="memory-link"
                           href="{% url 'memory_detail' memory.id %}">
                            {% if memory.title|length > 15 %}
                            {{ memory.title|slice:":15" }}...
                            {% else %}
                            {{ memory.title }}
                            {% endif %}
                        </a>
                    </h3>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 and not forloop.last %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>
        {% else %}
        <h2>You haven't got any memories yet</h2>
        {% endif %}
        <a class="btn btn-primary" href="{% url 'add_mem' %}">Add Memory</a>
    </div>
</div>
{% endblock %}
