{% extends 'main.html' %}
{% load socialaccount %}
{% load static %}

{% block title %}Sing in{% endblock %}

{% block content %}

<div class="top-panel">
    <h3>Places Remember</h3>
</div>
<div class="container" style="display:flex">
    <div class="description">
        <h1 style="margin-top: 40px;">Places Remember</h1>
        <p>
            Welcome to our web application, the perfect place to preserve your
            memories. Capture the essence of each memory by writing
            descriptions, and tagging your favorite spots. Start saving your
            cherished memories today and relive the magic of your journeys.</p>
        <div class="signin-button">
            <a class="btn btn-primary" href="{% provider_login_url 'vk' %}">Sign
                in
                with VK</a>
        </div>
    </div>
    <div class="image-container">
        <img src="{% static 'app_pr/img/11.jpg' %}">
    </div>
</div>

{% endblock %}