body {
            background-image: url("path/to/your/background-image.jpg");
            background-size: cover;
            background-position: center;
        }
        .top-panel {
            background-color: #333;
            color: #fff;
            padding: 9.5px;
            text-align: left;
        }
        .container {
            margin-top: 100px;
        }
        .container1{
            margin-top: 35px;
        }
        .content h3 {

        }
        .description {
            float: left;
            width: 50%;
            margin-bottom: 40px;
        }
        .signin-button {
            clear: both;

        }
        @media (max-width: 768px) {
            .description, .signin-button {
                float: none;
                width: 100%;
            }
        }
        .user-info {
            display: flex;
            align-items: center;
            margin-bottom: 0px;
            justify-content: flex-end;
        }
        .user-info img {
            margin-right: 10px;
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
        }
        .user-info span {
            margin-right: 10px;
        }
        @media (max-width: 576px) {
            .user-info {
                flex-direction: column;
                align-items: flex-start;
            }
            .user-info span {
                margin-bottom: 5px;
            }
        }
        .content {
            text-align: center;
        }
        .content h2 {
            margin-bottom: 25px;
        }

        .map {
          width: 100%;
          height: 300px; /* Adjust the height as needed */
        }

        .memory h3 {
            font-size: 20px;
            margin-bottom: 20px;
        }



.container3 {
            margin-top: 35px;
            display: flex;
            justify-content: space-between;
        }

        .map-container {
            width: 60%;
            padding: 20px;
        }

        #map {
            width: 100%;
            height: 400px;
        }

        .form-container {
            width: 35%;
            padding: 20px;
        }

        .form-container input,
        .form-container textarea {
            width: 100%;
            margin-bottom: 10px;
        }

        .form-container button {
            width: 100%;
        }
        .top-panel {
            background-color: #333;
            color: #fff;
            padding: 9.5px;
            text-align: left;
        }

        textarea[name="description"] {
          resize: none;
          width: 350px;
          height: 270px;
        }

        input[name="title"] {
            width: 350px;
            }